<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SafeSysAi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{% static 'assets1/img/logo-black2.png' %}" class="img-fluid" rel="icon">
    <link href="{% static 'assets1/img/logo-black2.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/aos/aos.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'assets1/css/main.css' %}" rel="stylesheet">
</head>
<body>
<!-- Header -->
<header id="header" class="header d-flex align-items-center fixed-top"
        data-aos="fade-down" data-aos-duration="1000">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center" style="text-decoration:none">
            <h1>SafeSysAi</h1>
        </a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'home-url' %}" class="active" data-aos="fade-up">Home</a></li>
                <li><a href="#featured-services" data-aos="fade-up" data-aos-delay="100">Features</a></li>
                <li><a href="#about" data-aos="fade-up" data-aos-delay="200">About</a></li>
                <li><a href="#service" data-aos="fade-up" data-aos-delay="300">Services</a></li>
                <li class="dropdown"><a href="#"><span>Pages</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="{% url 'terms-url' %}">Terms and conditions</a></li>
                        <li><a href="{% url 'privacy-url' %}">Privacy and Policy</a></li>
                        <li><a href="{% url 'acceptable-url' %}">Acceptable Use Notice</a></li>
                        <li><a href="{% url 'accessibility-url' %}">Accessibility</a></li>
                    </ul>
                </li>
                <li><a href="#contact" data-aos="fade-up" data-aos-delay="500">Contact</a></li>
                <li><a href="{% url 'login-url' %}" data-aos="fade-up" data-aos-delay="600">Sign In</a></li>
                <li>
                    <a class="get-a-quote btn-success rounded-pill text-white" href="{% url 'register-url' %}">
                        Get Started
                        <i class="fas fa-arrow-circle-right" style="font: size 1.2rem;"></i> <!-- Font Awesome arrow forward icon -->
                    </a>
                </li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center" data-aos="fade-up"
         data-aos-delay="200" data-aos-duration="1000" style="position: relative; background-image: url('{% static 'assets1/img/Trends-in-Oil-and-Gas-Industries-in-2023.jpeg' %}'); background-size: cover; background-position: center; background-blend-mode: overlay; background-color: rgba(0, 0, 0, 0.6);">
 
  <div class="container" style="position: relative; z-index: 1;">
    <div class="row gy-4 d-flex justify-content-between">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h1 class="text-white mb-4" style="font-size: 3.0rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
          Welcome to <span  style="background: linear-gradient(45deg, #ff6b6b, #ffcc00); -webkit-background-clip: text; color: transparent;">SafeSysAI</span>
        </h1>
        <p class="text-white mb-4" style="font-size: 1.5rem; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);">
          Empowering oil and gas companies with real-time safety risk management and compliance assurance through cutting-edge AI.
        </p>
        <a class="get-a-quote btn-success text-white" href="{% url 'register-url' %}">
            <button type="submit" class="btn btn-primary rounded-pill learn" style="margin-left:-4px; border: none; padding: 0.5rem 1rem;"> 
                <span style="font-size: 1.25rem;">Learn More</span>
                <i class="fas fa-arrow-circle-right" style="font: size 1.25em;"></i></button></a>
  
      </div>
      <div class="col-lg-5 order-1 order-lg-2">
        <div class="carousel-container">
          <div class="carousel-word">Real-Time Safety Insights</div>
          <div class="carousel-word">Proactive Risk Mitigation</div>
          <div class="carousel-word">Streamlined Compliance</div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->

<style>
.carousel-container {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-word {
  position: absolute;
  font-size: 2.2rem; /* 30px */
  font-weight: bold;
  color: white;
  opacity: 0;
  animation: hoverOutwards 9s infinite;
}

.carousel-word:nth-child(1) {
  animation-delay: 0s;
}

.carousel-word:nth-child(2) {
  animation-delay: 3s;
}

.carousel-word:nth-child(3) {
  animation-delay: 6s;
}

@keyframes hoverOutwards {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
    transform: translateY(-20px);
  }
  33% {
    opacity: 1;
    transform: translateY(20px);
  }
  43% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
</style>



<!-- Chatbot Container -->
<div class="chatbot-container">
    <div class="chatbot-icon" onclick="toggleChatbot()">
        <i class="fas fa-comment-alt"></i>
    </div>
    <div class="chatbot-form-container">
        {% if message %}
            <div class="message-container">
                <h4 class="text-primary text-center mb-4"><i class="fas fa-comment-alt"></i> SafeSysAi Chatbot</h4>
                <div class="chat-message">
                    <p class="text-dark"><b>You:</b> {{ message.user_message }}</p>
                    <p class="text-success"><b>Bot:</b> {{ message.bot_response }}</p>
                </div>
            </div>
        {% endif %}
        <form method="POST" class="message-form" action="{% url 'chatbot_view' %}">
            {% csrf_token %}
            <input type="text" name="user_message" class="form-control rounded mb-2" 
            placeholder="Type your message..." autocomplete="off">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
</div>
<!-- End Chatbot Container -->

<!-- Cookie Banner -->
<div class="cookie-banner" id="cookie-banner">
    <h3 class="text-black">Cookies Policy</h3>
    <p class="text-black">
        Cookies are small text files that are placed on your computer by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site. Our aim in using Cookies is to be able to make the site better for you.</p>
        <p class="text-black">The cookies may identify the following information when you use our website:</p>
        <p class="text-black">technical information, including the Internet protocol (IP) address used to 
        connect your computer to the Internet, your login information, browser type and version, 
        time zone setting, browser plug-in types and versions, operating system type, version and 
        platform, device type, version or serial number, screen resolution and number of CPU cores;</p>
        <p class="text-black">information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our site (including date and time stamps)
        products you viewed or searched for;</p>
        <p class="text-black">page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs)
            and methods used to browse away from the page and any phone number used to call our customer service number.</p>
   
    <button class="bg-success text-white" onclick="acceptCookies()">Accept</button>
    <button class="bg-dark text-white" onclick="learnMore()">Learn More</button>
</div>


<main id="main">
    <section id="featured-services" class="featured-services" 
    style="margin-top: -40px;background-color: rgba(14, 29, 52, 0.8)">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                <div>
                    <div class="flex-shrink-0 h1"><i class="fas fa-shield-alt gradient-text"></i></div>
                    <h4 class="title text-white" style="font-size: 20px">Real-Time Safety Insights</h4>
                    <p class="description text-white">SafeSys AI provides user-friendly dashboards delivering real-time safety and compliance data, empowering you to make informed decisions promptly.</p>
                    <a href="#hero" class="readmore stretched-link text-white"><span>Learn More</span><i class="  text-white bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div>
                    <div class="flex-shrink-0 h1"><i class="fas fa-chart-line gradient-text"></i></div>
                    <h4 class="title text-white" style="font-size: 20px">Proactive Risk Mitigation</h4>
                    <p class="description text-white">Utilise AI-driven predictive analytics to identify potential hazards and compliance issues before they escalate, ensuring a safer operational environment.</p>
                    <a href="#hero" class="readmore stretched-link text-white "><span>Learn More</span><i class="text-white  bi bi-arrow-right"></i></a>
                </div>
            </div><div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div>
                <div class="h1 flex-shrink-0"><i class="fas fa-rocket gradient-text"></i></div>
                <h4 class="title text-white" style="font-size: 20px">Streamlined Compliance</h4>
                <p class="description text-white">SafeSys AI simplifies compliance management by providing real-time updates on regulatory changes and automating compliance checks.</p>
                <a href="#hero" class="readmore stretched-link text-white"><span>Learn More</span><i class=" text-white bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    </div>
    </section>

    <!-- ======= About Us Section ======= -->
    <section  id="about"  class="about pt-0" style=" background-color: rgba(14, 29, 52, 0.8);">
        <div class="container">
            <div class="section-header">
                <h2 class="text-white">About Us</h2>
            </div>
            <div  class="row gy-4">
                <div class="col-lg-6 content order-last order-lg-first  ">
                    <br><br>
                    <img class="img-responsive img-fluid rounded" height="400vh"
                         width="100%" src="{% static 'assets1/img/download (5).jpeg' %}" alt="">
                    <br><br>
                </div>
                <div class="col-lg-6 content position-relative align-self-start order-lg-last order-first">
                    <br><br>
                    <p class="text-white">
                        SafeSys AI anticipates safety risks, ensuring market relevance. Its adaptable model and customisable modules set a new standard in safety and compliance management.
                    </p>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-diagram-3 text-white"></i>
                            <div>
                                <h5 class="text-white">SafeSys AI improves oil and gas safety Compliance
                                    using AI and machine learning</h5>
                                <p class="text-white">It offers real-time risk management and predictive maintenance</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-fullscreen-exit text-white"></i>
                            <div>
                                <h5 class="text-white">Designed for oil companies, safety managers, and compliance officers</h5>
                                <p class="text-white">SafeSys AI provides user-friendly dashboards and scalable solutions</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End About Us Section -->


    <style>
        .card {
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 4px 8px rgba(28, 139, 218, 0.2), 0 0 40px rgba(103, 119, 218, 0.1); /* Orange box shadow */
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: translateX(-5px); /* Move the card slightly to the left on hover */
        }
    </style>

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0" >
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2 class="text-white">Our Services</h2>
            </div>
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <div class="card-img">

                        </div>
                        <h3><a href="#hero" class="stretched-link">Real-Time Safety Risk Management</a></h3>
                        <p>Gain real-time visibility into operational data and identify
                            potential safety threats before they escalate</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <div class="card-img">
                        </div>
                        <h3><a href="#hero" class="stretched-link">Predictive Maintenance & Risk Assessment</a></h3>
                        <p>Proactively identify equipment issues and predict risks,
                            optimising maintenance schedules and preventing costly downtime</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <div class="card-img">

                        </div>
                        <h3><a href="#hero" class="stretched-link">Streamlined Compliance Management</a></h3>
                        <p>Simplify compliance adherence with automated tracking and alerts,
                            ensuring regulatory peace of mind</p>
                    </div>
                </div><!-- End Card Item -->
            </div>

        </div>
    </section><!-- End Services Section -->


    <section id="testimonials" class="testimonials" style=" background-color: rgba(14, 29, 52, 0.8)">
        <div class="container">
            <div class="slides-1 swiper" data-aos="fade-up">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'assets1/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                This product exceeded my expectations. It's streamlined our operations and made a significant impact on our bottom line. Highly recommend!
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets1/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            I was initially hesitant, but this service has been a game-changer. It's intuitive, efficient, and the support team is fantastic.
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets1/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            The results speak for themselves.  We've seen increased traffic and sales since implementing this solution. I couldn't be happier.
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets1/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            This has saved me countless hours and helped me focus on what I do best. I can't imagine going back to how I worked before.
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets1/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            I was blown away by how easy it was to get started. The customer service is top-notch, and I'm already seeing positive results.
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div></div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>

    <section id="faq" class="faq" style=" background-color: rgba(14, 29, 52, 0.8)">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2 class="text-white">Frequently Asked Questions</h2>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-6">
                    <div class="accordion accordion-flush text-info" id="faqlist">

                        <div class="accordion-item rounded">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    What is SafeSys AI?
                                </button>
                            </h3>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    SafeSys AI is an AI-powered safety and compliance system designed to transform risk management in the oil and gas industry.
                                </div>
                            </div>
                        </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                <i class="bi bi-question-circle question-icon"></i>
                                Who is SafeSys AI for?
                            </button>
                        </h3>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                SafeSys AI caters to a wide audience within the oil and gas sector, including oil & gas companies, safety managers, compliance officers, and IT professionals.
                            </div>
                        </div>
                    </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                <i class="bi bi-question-circle question-icon"></i>
                                How does SafeSys AI improve safety?
                            </button>
                        </h3>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                SafeSys AI uses AI to proactively identify potential hazards, analyse near-miss incidents, and provide real-time recommendations to prevent accidents.
                            </div>
                        </div>
                    </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                                <i class="bi bi-question-circle question-icon"></i>
                                Can SafeSys AI help with regulatory compliance?
                            </button>
                        </h3>
                        <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Absolutely. SafeSys AI automatically tracks and manages compliance requirements, ensuring your operations meet industry standards.
                            </div>
                        </div>
                    </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                                <i class="bi bi-question-circle question-icon"></i>
                                Is my data secure with SafeSys AI?
                            </button>
                        </h3>
                        <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Yes, data security is a top priority. SafeSys AI employs robust encryption and security measures to protect your sensitive information.
                            </div>
                        </div>
                    </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-6">
                                <i class="bi bi-question-circle question-icon"></i>
                                How do I get started with SafeSys AI?
                            </button>
                        </h3>
                        <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Contact us for a personalised demo and consultation to see how SafeSys AI can be tailored to your specific needs.
                            </div>
                        </div>
                    </div></div>
                </div>
                <div class="col-lg-6">
                    <img height="100vh" width="100%" src="{% static 'assets1/img/faq.jpg' %}" class="img-fluid rounded" alt="Image description">
                </div>
            </div>

        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" style=" background-color: rgba(14, 29, 52, 0.8)">
        <div class="section-header">
            <h2 class="text-white">Contact Us</h2>
        </div>
        <div class="container" data-aos="fade-up">
            <div class="row gy-4 mt-4">
                <div class="col-lg-4">
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0 text-white"></i>
                        <div>
                            <h4 class="text-white">Location:</h4>
                            <p class="text-white">4 Durham Workspace<br>
                                PityMe, Durham DH1 5JZ, UK</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0 text-white"></i>
                        <div>
                            <h4 class="text-white">Email:</h4>
                            <p class="text-white">josh@meliandialogue.com<br>
                                jim.coke@meliandialogue.com</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0 text--white"></i>
                        <div>
                            <h4 class="text-white">Call:</h4>
                            <p class="text-white">+44 7508 516836</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>
                <div class="col-lg-8">
                    <div class="alert alert-success" role="alert" id="success-message" style="display: none;">
                        Your message has been sent. Thank you!
                    </div>
                    <h2 class="text-center text-white">Drop Your Message Here</h2>
                    <form action="{% url 'contact' %}" method="post" role="form" class="php-email-form form-control">
                        {% csrf_token %}
                        <br>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
{#                            <div class="loading">Loading</div>#}
{#                            <div class="error-message"></div>#}
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>


                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const form = document.querySelector('.php-email-form');
                            const successMessage = document.getElementById('success-message');

                            form.addEventListener('submit', function(event) {
                                event.preventDefault();
                                successMessage.style.display = 'block';
                            });
                        });
                    </script>
                </div><!-- End Contact Form -->
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<footer id="footer" class="footer" style="background-color: rgba(28,39,57,0.8)">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 footer-info">
                <a href="#about" class="logo d-flex align-items-center">
                    <span>About Us</span>
                </a>
                <p>SafeSys AI anticipates safety risks, ensuring market relevance.
                    Its adaptable model and customisable modules set a new standard in
                    safety and compliance management.</p>
                <div class="social-links d-flex mt-4">
                    <a href="https://twitter.com" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="https://facebook.com" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://instagram.com" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://linkedin.com" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer-links">
                <h4>Links</h4>
                <ul>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="#hero">Home</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'about-url' %}">About us</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'services-url' %}">Services</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="#faq">Faqs</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="#testimonials">Clients</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer-links">
                <h4>Legal</h4>
                <ul>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'terms-url' %}" data-content-id="terms-and-conditions">Terms and Conditions</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'privacy-url' %}" data-content-id="privacy-and-policy">Privacy and Policy</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'acceptable-url' %}" data-content-id="acceptable-use-notice">Acceptable Use Notice</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'accessibility-url' %}" data-content-id="accessibility">Accessibility</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 footer-contact  text-md-start">
                <h4>Contact Us</h4>
                <p><i class="bi bi-telephone me-1 text-white"></i> Landline: 0044(0)3331886566</p>
                <p><i class="bi bi-phone me-1 text-white"></i> Mobile: +447508516836</p>
                <p><i class="bi bi-envelope me-1 text-white"></i> Email: hello@meliandialogue.com</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer-links">
                <h4>Newsletter</h4>
                <h3 class="text-black"></h3>
                <p>Subscribe to our newsletter to get our latest updates & news.</p>
                {% if success_message %}
                    <div class="alert alert-success" role="alert">
                        {{ success_message }}
                    </div>
                {% endif %}

                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}

                <form class="subscription-form" method="post" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    <input class="form-control" type="email" name="email" placeholder="Email address" required>
                    <br>
                    <button class="btn btn-primary" type="submit">Subscribe <i class="fas fa-paper-plane"></i></button>
                </form>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright|<strong><span>SafeSysAi</span></strong>|All Rights Reserved is Proudly
        </div>
    </div>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
    <div id="preloader"></div>
</footer><!-- End Footer -->



<!-- End Footer -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<!-- Vendor JS Files -->
<script src="{% static 'assets1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets1/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets1/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets1/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets1/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets1/vendor/php-email-form/validate.js' %}"></script>
<!-- Template Main JS File -->
<script src="{% static 'assets1/js/main.js' %}"></script>
<!-- Scripts -->
<script>
    // Get all the navigation links
    const navLinks = document.querySelectorAll('nav ul li a');

    // Function to highlight the active link
    function highlightNavLink() {
        // Get the current scroll position
        const scrollPosition = window.scrollY;

        // Iterate over each section and check if it's in view
        document.querySelectorAll('section').forEach((section) => {
            const sectionTop = section.offsetTop - 50; // Adjusted for header height
            const sectionHeight = section.clientHeight;
            const sectionId = section.getAttribute('id');

            if (scrollPosition >= sectionTop && scrollPosition < sectionTop + sectionHeight) {
                // Add 'active' class to the corresponding navigation link
                navLinks.forEach((link) => {
                    link.classList.remove('active');
                    if (link.getAttribute('href') === `#${sectionId}`) {
                        link.classList.add('active');
                    }
                });
            }
        });
    }

    // Add scroll event listener to highlight active navigation link
    window.addEventListener('scroll', highlightNavLink);
</script>

<!-- JavaScript -->
<script>
    function toggleChatbot() {
        var chatbotForm = document.querySelector('.chatbot-form-container');
        chatbotForm.classList.toggle('active');
    }

    // Close the chatbot if clicked outside
    document.addEventListener('click', function(event) {
        var chatbotForm = document.querySelector('.chatbot-form-container');
        var chatbotIcon = document.querySelector('.chatbot-icon');
        if (!chatbotForm.contains(event.target) && !chatbotIcon.contains(event.target)) {
            chatbotForm.classList.remove('active');
        }
    });
</script>

<script>
    // Function to check if the user has accepted cookies
    function checkCookieAccepted() {
        return document.cookie.includes('cookiesAccepted=true');
    }

    // Function to set the cookie
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    // Function to handle accepting cookies
    function acceptCookies() {
        setCookie('cookiesAccepted', true, 365); // Set cookie for 365 days
        document.getElementById('cookie-banner').style.display = 'none'; // Hide the banner
    }

    // Function to handle "Learn More" button click
    function learnMore() {
        // Redirect to your privacy policy page or another page with more information about cookies
        window.location.href = '{% url 'home-url' %}';
    }

    // Check if cookies are accepted when the page loads
    window.onload = function () {
        if (checkCookieAccepted()) {
            document.getElementById('cookie-banner').style.display = 'none'; // Hide the banner if cookies are accepted
        }
    };
</script>
</body>
</html>