<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SafeSysAi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{% static 'assets1/img/logo-black2.png' %}" class="img-fluid" rel="icon">
    <link href="{% static 'assets1/img/logo-black2.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets1/vendor/aos/aos.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'assets1/css/main.css' %}" rel="stylesheet">
</head>
<body>
<!-- Header -->
<header id="header" class="header d-flex align-items-center fixed-top"
        data-aos="fade-down" data-aos-duration="1000">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center" style="text-decoration:none">
            {#            <!-- Uncomment the line below if you also wish to use an image logo -->#}
            {#            <!-- <img src="assets/img/" alt=""> -->#}
            <h1>SafeSysAi</h1>
        </a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'home-url' %}" class="active" data-aos="fade-up">Home</a></li>
                <li><a href="{% url 'features-url' %}" data-aos="fade-up" data-aos-delay="100">Features</a></li>
                <li><a href="{% url 'about-url' %}" data-aos="fade-up" data-aos-delay="200">About</a></li>
                <li><a href="{% url 'services-url' %}" data-aos="fade-up" data-aos-delay="300">Services</a></li>
                 <li class="dropdown"><a href="#"><span>Pages</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="{% url 'terms-url' %}">Terms and conditions</a></li>
                        <li><a href="{% url 'privacy-url' %}">Privacy and Policy</a></li>
                        <li><a href="{% url 'acceptable-url' %}">Acceptable Use Notice</a></li>
                        <li><a href="{% url 'accessibility-url' %}">Accessibility</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'contact-url' %}" data-aos="fade-up" data-aos-delay="500">Contact</a></li>
                <li><a href="{% url 'login-url' %}" data-aos="fade-up" data-aos-delay="600">Sign In</a></li>
                <li>
                    <a class="get-a-quote btn-success text-white" href="{% url 'register-url' %}">
                        Get Started
                        <i class="fas fa-arrow-circle-right" style="font-size:30px"></i> <!-- Font Awesome arrow forward icon -->
                    </a>
                </li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->


<style>
    .learn{
        background: linear-gradient(to right, #2869c3, #065c97, #d510ed);
        padding: 10px 18px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }

    .learn:hover{
        color: #fff;
        background: linear-gradient(to right, #d510ed, #2869c3);
    }

    .gradient-text {
        font-size: 50px;
        width: auto;
        background-image: linear-gradient(to right, #2869c3, #065c97, #d510ed);
        -webkit-background-clip: text; /* For Safari/Chrome/iOS */
        background-clip: text;
        color: transparent;
    }

    
    /* CSS */
.cool-paragraph {
    font-family: "Arial", sans-serif; /* Choose a modern font */
    font-size: 18px; /* Adjust font size */
    color: #333; /* Choose a dark color for text */
    line-height: 1.6; /* Adjust line height for readability */
    text-align: justify; /* Justify text for a clean look */
    padding: 10px; /* Add padding for breathing space */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.cool-paragraph:hover {
    background-color: #e9e9e9; /* Darken background color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

</style>
  
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style=" background-color: rgba(14, 29, 52, 0.8);">
      <div class="page-header d-flex align-items-center" 
           style="background-image: url({% static 'assets1/img/oil-rig-3522594_640.jpg' %});" >
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Terms and Conditions of Use</h2>
              <p> </p>
            </div>
          </div>
        </div>
      </div>
         <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'home-url' %}">Home</a></li>
            <li class="text-white">Terms and Conditions of Use</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

  <!-- ======= About Us Section ======= -->
    <section  id="about"  class="about pt-0" style=" background-color: rgba(14, 29, 52, 0.8);">
        <div class="container">
    <style>
        /* CSS styles for the Acceptable Use Notice */
        .acceptable-use-notice {
            font-family: Arial, sans-serif; /* Choose a modern font */
            font-size: 16px; /* Adjust font size */
            line-height: 1.6; /* Adjust line height for readability */
            color: #333; /* Choose a dark color for text */
            background-color: #f9f9f9; /* Light background color */
            padding: 20px; /* Add padding for spacing */
            border-radius: 10px; /* Add rounded corners */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
            margin: 20px auto; /* Center the content */
            max-width: 800px; /* Limit width for better readability */
        }
        

        .acceptable-use-notice p {
            margin-bottom: 15px; /* Add space between paragraphs */
        }

        .acceptable-use-notice ol {
            margin-bottom: 15px; /* Add space between ordered list items */
        }

        .acceptable-use-notice ol li {
            margin-bottom: 5px; /* Add space between list items */
        }
    </style>
<div class="acceptable-use-notice">
            <h3 class="text-black mb-3">Terms of Website Use</h3>
            <p>
                These terms of use (together with the documents referred to in it) tell you the terms of use on which 
                you may make use of the Afr website <a class="text-primary" href="www.safesysai.com">www.safesysai.com</a> (our Website), whether as a guest or a registered user. 
                Use of our Website includes accessing, browsing, or registering to use our Website.
            </p>
            <p>
                Please read these terms of use carefully before you start to use our Website, as these will apply to your use of our Website. In particular, please read the Limitation of Liability section below. You may print a copy of these terms for future reference.
            </p>
            <p>
                By using our Website, you confirm that you accept these terms of use and that you agree to comply with them. If you do not agree to these terms of use, you must not use our Website.
            </p>
            <h4 class="text-black mt-4">Other Applicable Terms</h4>
            <p>
                These terms of use refer to the following additional terms, which also apply to your use of our Website:
            </p>
            <ul>
                <li>Our Privacy Notice, which sets out the terms on which we process any personal data we collect from you or that you provide to us via our Website. By using our Website, you consent to such processing and warrant that all data you provide is accurate.</li>
                <li>Our Acceptable Use Notice, which sets out the permitted uses and prohibited uses of our Website. When using our Website, you must comply with this Acceptable Use Notice.</li>
                <li>Our Cookie Policy, which sets out information about the cookies on our Website.</li>
                <li>If you purchase or subscribe to products or services from SafeSys AI, separate terms and conditions will apply to those products or services.</li>
            </ul>
            <h4 class="text-black mt-4">Information about Us</h4>
            <p>
                <a class="text-primary" href="www.safesysai.com">www.safesysai.com</a> is a Website operated by SafeSys AI Limited ("we"). We are registered in England and Wales under company number 15398624 and have our registered office at 4 Durham Workspace, Abbey Road, Pity Me, Durham DH1 5JZ.
            </p>
            <h4 class="text-black mt-4">Our Website and Terms of Use</h4>
            <p>
                We may change or update the content or services found on our Website at any time without notice. While we do make reasonable efforts to keep our Website up to date, we are under no obligation to update it, and make no representations that the Website is accurate, complete, up-to-date or free from errors. Consequently, we may also update these terms of use, so please check this page regularly as these terms govern your use and are binding on you. These terms were last updated on 18th December 2023.
            </p>
            <h4 class="text-black mt-4">Accessing our Website</h4>
            <p class="text-black">
                Our Website is made available free of charge. We do not guarantee that our Website, or any content on it, will always be available or be uninterrupted. Access to our Website is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our Website without notice. We will not be liable to you if for any reason our Website is unavailable at any time or for any period. You are responsible for ensuring that all persons who access our Website through your internet connection are aware of these terms of use and other applicable terms and conditions and that they comply with them.

            </p>
            <h4 class="text-black mt-4">Your Account and Password</h4>
              <p class="text-black">
                  If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third-party. If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at <a class="text-primary" href="mailto:support@safesysai.com" class="text-white">support@safesysai.com</a>
We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion, you have failed to comply with any of the provisions of these terms of use

              </p>
            <h4 class="text-black mt-4">Intellectual Property Rights</h4>
            <p class="text-black">
                We are the owner or the licensee of all intellectual property rights in our Website, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.
You may print off one copy and may download extracts of any page(s) from our Website for your personal use and you may draw the attention of others within your organisation to content posted on our Website.
You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. Our status (and that of any identified contributors) as the authors of content on our Website must always be acknowledged.
You must not use any part of the content on our Website for commercial purposes without obtaining a licence to do so from us.
If you print off, copy or download any part of our Website in breach of these terms of use, your right to use our Website will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.

            </p>
            <h4 class="text-black mt-4">No Reliance on Information</h4>
            <p class="text-black">
                The content on our Website is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our Website.
            </p>
            <h4 class="text-black mt-4">Limitation of Our Liability</h4>
           <p class="text-black">
               Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.
We shall not be liable for any loss or damage whatsoever and howsoever arising as a result of your use of or reliance on the information contained on our Website to the maximum extent permitted by law.
If you are a business user, please note that in particular, we will not be liable for:
<li>loss of profits, sales, business, or revenue;</li>
<li>business interruption;</li>
<li>loss of anticipated savings;</li>
<li>loss of business opportunity, goodwill or reputation; or</li>
<li>any indirect or consequential loss or damage.</li>
If you are a consumer user, please note that we only provide our Website for domestic and private use. You agree not to use our Website for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.
We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our Website or to your downloading of any content on it, or on any website linked to it.
We assume no responsibility for the content of websites linked on our Website; these links are provided for your information only. Such links should not be interpreted as an endorsement by us of those linked websites. It is your responsibility to read and follow the terms and conditions of any third-party website. We will not be liable for any loss or damage that may arise from your use of them.
Different limitations and exclusions of liability will apply to liability arising as a result of the supply of any product or service (e.g. finance) that we provide to you, which will be set out in separate terms (e.g. a credit agreement) that we enter with you.

           </p>
            <h4 class="text-black mt-4">Uploading Content to Our Website</h4>
              
            <p class="text-black">
                Whenever you make use of a feature that allows you to upload content to our Website, or to make contact with other users of our Website, you must comply with the content standards set out in our Acceptable Use Notice.
You warrant that any such contribution does comply with those standards, and you will be liable to us and indemnify us for any breach of that warranty. If you are a consumer user, this means you will be responsible for any loss or damage we suffer as a result of your breach of warranty.
Any content you upload to our Website will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your content, but you are required to grant us and other users of our Website a limited licence to use, store and copy that content and to distribute and make it available to third parties. The rights you licence to us are described in the next section (Rights you licence).
We also have the right to disclose your identity to any third-party who is claiming that any content posted or uploaded by you to our Website constitutes a violation of their intellectual property rights, or of their right to privacy.
We will not be responsible, or liable to any third-party, for the content or accuracy of any content posted by you or any other user of our Website.
We have the right to remove any posting you make on our Website if, in our opinion, your post does not comply with the content standards set out in our Acceptable Use Notice.
The views expressed by other users on our Website do not represent our views or values.

            </p>
            <h4 class="text-black mt-4">Rights You Licence</h4>
            <p class="text-black">
                When you upload or post content to our Website, you grant the following licences:
<li>to us, a perpetual, worldwide, non-exclusive, royalty-free, transferable licence to use, 
                reproduce, distribute, prepare derivative works of, display, and perform that user-generated
                content in connection with the service provided by the website and across different media
                (including without limitation to promote our Website or service);</li>
<li>to other users of our Website or to third parties, a licence to use the content for their
                purposes or in accordance with the functionality of our Website.</li>

            </p>
            <h4 class="text-black mt-4">Viruses</h4>
               <p class="text-black">
                   We do not guarantee that our Website will be secure or free from bugs or viruses. You are responsible for configuring your information technology, computer programmes and platform in order to access our Website. You should use your own virus protection software.
You must not misuse our Website by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our Website, the server on which our Website is stored or any server, computer or database connected to our Website. You must not attack our Website via a denial-of-service attack or a distributed denial-of-service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will cooperate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our Website will cease immediately.

               </p>
            <h4 class="text-black mt-4">Linking to Our Website</h4>
         <p class="text-black">
             If you wish to link to our home page, you must gain prior written consent from Us before creating the link, and provided that you do so in the manner outlined below. You may only link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
You must not establish a link to our Website on any website that is not owned by you. Our Website must not be framed on any other website, nor may you create a link to any part of our Website other than the homepage. We reserve the right to withdraw linking permission without notice.
The website to which you are linking must comply in all respects with the content standards set out in our Acceptable Use Notice. If you wish to make any use of the content on our Website other than that set out above, support@safesysai.com.

         </p>
            <h4 class="text-black mt-4">Applicable Law</h4>
          <p class="text-black">
              If you are a consumer, please note that these terms of use, its subject matter and their formation are governed by English law. You and we both agree that the courts of England and Wales will have non-exclusive jurisdiction. However, if you are a resident of Northern Ireland, you may also bring proceedings in Northern Ireland. If you are a resident of Scotland, you may also bring proceedings in Scotland.
Thank you for visiting our Website.
          </p>
        </div>
        </div>
</section><!-- End About Us Section -->

     <section id="testimonials" class="testimonials" style=" background-color: rgba(14, 29, 52, 0.8)">
        <div class="container">
            <div class="slides-1 swiper" data-aos="fade-up">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'assets1/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                This product exceeded my expectations. It's streamlined our operations and made a significant impact on our bottom line. Highly recommend!
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets1/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            I was initially hesitant, but this service has been a game-changer. It's intuitive, efficient, and the support team is fantastic.
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets1/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            The results speak for themselves.  We've seen increased traffic and sales since implementing this solution. I couldn't be happier.
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets1/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            This has saved me countless hours and helped me focus on what I do best. I can't imagine going back to how I worked before.
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'assets1/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            I was blown away by how easy it was to get started. The customer service is top-notch, and I'm already seeing positive results.
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div></div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>

    <section id="faq" class="faq" style=" background-color: rgba(14, 29, 52, 0.8)">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2 class="text-white">Frequently Asked Questions</h2>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-6">
                    <div class="accordion accordion-flush text-info" id="faqlist">

                        <div class="accordion-item rounded">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    What is SafeSys AI?
                                </button>
                            </h3>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    SafeSys AI is an AI-powered safety and compliance system designed to transform risk management in the oil and gas industry.
                                </div>
                            </div>
                        </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                <i class="bi bi-question-circle question-icon"></i>
                                Who is SafeSys AI for?
                            </button>
                        </h3>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                SafeSys AI caters to a wide audience within the oil and gas sector, including oil & gas companies, safety managers, compliance officers, and IT professionals.
                            </div>
                        </div>
                    </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                <i class="bi bi-question-circle question-icon"></i>
                                How does SafeSys AI improve safety?
                            </button>
                        </h3>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                SafeSys AI uses AI to proactively identify potential hazards, analyse near-miss incidents, and provide real-time recommendations to prevent accidents.
                            </div>
                        </div>
                    </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                                <i class="bi bi-question-circle question-icon"></i>
                                Can SafeSys AI help with regulatory compliance?
                            </button>
                        </h3>
                        <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Absolutely. SafeSys AI automatically tracks and manages compliance requirements, ensuring your operations meet industry standards.
                            </div>
                        </div>
                    </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                                <i class="bi bi-question-circle question-icon"></i>
                                Is my data secure with SafeSys AI?
                            </button>
                        </h3>
                        <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Yes, data security is a top priority. SafeSys AI employs robust encryption and security measures to protect your sensitive information.
                            </div>
                        </div>
                    </div><div class="accordion-item rounded">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-6">
                                <i class="bi bi-question-circle question-icon"></i>
                                How do I get started with SafeSys AI?
                            </button>
                        </h3>
                        <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Contact us for a personalised demo and consultation to see how SafeSys AI can be tailored to your specific needs.
                            </div>
                        </div>
                    </div></div>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'assets1/img/faq.jpg' %}" class="img-fluid rounded" alt="Image description">
                </div>
            </div>

        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" style=" background-color: rgba(14, 29, 52, 0.8)">
        <div class="section-header">
            <h2 class="text-white">Contact Us</h2>
        </div>
        <div class="container" data-aos="fade-up">
            <div class="row gy-4 mt-4">
                <div class="col-lg-4">
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0 text-white"></i>
                        <div>
                            <h4 class="text-white">Location:</h4>
                            <p class="text-white">4 Durham Workspace<br>
                                PityMe, Durham DH1 5GG, UK</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0 text-white"></i>
                        <div>
                            <h4 class="text-white">Email:</h4>
                            <p class="text-white">josh@meliandialogue.com<br>
                                jim.coke@meliandialogue.com</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0 text--white"></i>
                        <div>
                            <h4 class="text-white">Call:</h4>
                            <p class="text-white">+44 7508 516836</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>
                <div class="col-lg-8">
                    <div class="alert alert-success" role="alert" id="success-message" style="display: none;">
                        Your message has been sent. Thank you!
                    </div>
                    <h2 class="text-center text-white">Drop Your Message Here</h2>
                    <form action="{% url 'contact' %}" method="post" role="form" class="php-email-form form-control">
                        {% csrf_token %}
                        <br>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
{#                            <div class="loading">Loading</div>#}
{#                            <div class="error-message"></div>#}
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>


                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const form = document.querySelector('.php-email-form');
                            const successMessage = document.getElementById('success-message');

                            form.addEventListener('submit', function(event) {
                                event.preventDefault();

                                // Here you can add code to submit the form via AJAX if needed.
                                // After successful submission, display the success message.
                                // For simplicity, I'm just showing/hiding the message without AJAX.
                                successMessage.style.display = 'block';
                            });
                        });
                    </script>



                </div><!-- End Contact Form -->
            </div>
        </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 
<footer id="footer" class="footer" style="background-color: rgba(28,39,57,0.8)">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 footer-info">
                <a href="{% url 'about-url' %}" class="logo d-flex align-items-center">
                    <span>About Us</span>
                </a>
                <p>SafeSys AI anticipates safety risks, ensuring market relevance.
                    Its adaptable model and customisable modules set a new standard in
                    safety and compliance management.</p>
                <div class="social-links d-flex mt-4">
                    <a href="https://twitter.com" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="https://facebook.com" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://instagram.com" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://linkedin.com" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer-links">
                <h4>Links</h4>
                <ul>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'home-url' %}">Home</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'about-url' %}">About us</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'services-url' %}">Services</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="#faq">Faqs</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="#testimonials">Clients</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer-links">
                <h4>Legal</h4>
                <ul>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'terms-url' %}" data-content-id="terms-and-conditions">Terms and Conditions</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'privacy-url' %}" data-content-id="privacy-and-policy">Privacy and Policy</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'acceptable-url' %}" data-content-id="acceptable-use-notice">Acceptable Use Notice</a></li>
                    <li><i class="bi bi-arrow-right-short text-white link-icon"></i><a href="{% url 'accessibility-url' %}" data-content-id="accessibility">Accessibility</a></li>
                </ul>
            </div>

           <div class="col-lg-3 col-md-3 col-sm-12 col-12 footer-contact  text-md-start">
                <h4>Contact Us</h4>
                <p><i class="bi bi-telephone me-1 text-white"></i> Landline: 0044(0)3331886566</p>
                <p><i class="bi bi-phone me-1 text-white"></i> Mobile: +447508516836</p>
                <p><i class="bi bi-envelope me-1 text-white"></i> Email: hello@meliandialogue.com</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer-links">
                <h4>Newsletter</h4>
                <h3 class="text-black"></h3>
                <p>Subscribe to our newsletter to get our latest updates & news.</p>
                {% if success_message %}
                    <div class="alert alert-success" role="alert">
                        {{ success_message }}
                    </div>
                {% endif %}

                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}

                <form class="subscription-form" method="post" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    <input class="form-control" type="email" name="email" placeholder="Email address" required>
                    <br>
                    <button class="btn btn-primary" type="submit">Subscribe <i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
         
        </div>
        </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright|<strong><span>SafeSysAi</span></strong>|All Rights Reserved is Proudly
        </div>
    </div>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
    <div id="preloader"></div>
</footer><!-- End Footer -->



<!-- End Footer -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<!-- Vendor JS Files -->
<script src="{% static 'assets1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets1/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets1/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets1/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets1/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets1/vendor/php-email-form/validate.js' %}"></script>
<!-- Template Main JS File -->
<script src="{% static 'assets1/js/main.js' %}"></script>
<!-- Scripts -->
<script>
    // Get all the navigation links
    const navLinks = document.querySelectorAll('nav ul li a');

    // Function to highlight the active link
    function highlightNavLink() {
        // Get the current scroll position
        const scrollPosition = window.scrollY;

        // Iterate over each section and check if it's in view
        document.querySelectorAll('section').forEach((section) => {
            const sectionTop = section.offsetTop - 50; // Adjusted for header height
            const sectionHeight = section.clientHeight;
            const sectionId = section.getAttribute('id');

            if (scrollPosition >= sectionTop && scrollPosition < sectionTop + sectionHeight) {
                // Add 'active' class to the corresponding navigation link
                navLinks.forEach((link) => {
                    link.classList.remove('active');
                    if (link.getAttribute('href') === `#${sectionId}`) {
                        link.classList.add('active');
                    }
                });
            }
        });
    }

    // Add scroll event listener to highlight active navigation link
    window.addEventListener('scroll', highlightNavLink);
</script>
</body>
</html>