{% extends 'dashbord/master.html' %}
{% block content %}
    {% load static %}
    {% load django_bootstrap5 %}

    	<!--begin::Content-->
							<div id="kt_app_content" class="app-content rounded flex-column-fluid">
								<!--begin::Content container-->
								<div id="kt_app_content_container" class="app-container container-fluid">
									<!--begin::Row-->
									<div class="row gx-5 gx-xl-10">
										<!--begin::Col-->
										<div class="col-xxl-6 mb-5 mb-xl-10">
											<!--begin::Chart widget 8-->
											<div class="card card-flush h-xl-100">
												<!--begin::Header-->
												<div class="card-header pt-5">
													<!--begin::Title-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Dashbaords</span>
													</h3>
													<!--end::Title-->
												
												</div>
												<!--end::Header-->
												<!--begin::Body-->
												<div class="card-body pt-6">
                                                    
                    <section class="features row justify-content-center gap-4 mt-5">
                        <!-- Real Time Anomaly Detection -->
                        <a href="{% url 'realtime:anomaly_detection' %}" class="text-decoration-none col-lg-4 col-md-6 col-sm-12">
                            <div class="feature card bg-light text-dark border-0 p-4">
                                <i class="fas fa-shield-alt fa-3x mb-3 text-warning"></i>
                                <h3 class="fs-4 fw-bold">Real Time Anomaly Detection</h3>
                                <p class="fs-6">Stay ahead of potential risks with our intelligent alert system.</p>
                            </div>
                        </a>
                        <!-- Predictive Maintenance -->
                        <a href="{% url 'realtime:predictive_maintenance' %}" class="text-decoration-none col-lg-4 col-md-6 col-sm-12">
                            <div class="feature card bg-light text-dark border-0 p-4">
                                <i class="fas fa-tools fa-3x mb-3 text-warning"></i>
                                <h3 class="fs-4 fw-bold">Predictive Maintenance</h3>
                                <p class="fs-6">Leverage machine learning to forecast equipment failures and prevent downtime.</p>
                            </div>
                        </a>
                        <!-- Compliance Management -->
                        <a href="{% url 'dashboard' %}" class="text-decoration-none col-lg-4 col-md-6 col-sm-12">
                            <div class="feature card bg-light text-dark border-0 p-4">
                                <i class="fas fa-clipboard-check fa-3x mb-3 text-warning"></i>
                                <h3 class="fs-4 fw-bold">Compliance Management</h3>
                                <p class="fs-6">Ensure adherence to regulations with automated compliance checks.</p>
                            </div>
                        </a>
                          <!-- Compliance Management -->
                        <a href="{% url 'dashboard' %}" class="text-decoration-none col-lg-4 col-md-6 col-sm-12">
                            <div class="feature card bg-light text-dark border-0 p-4">
                                <i class="fas fa-clipboard-check fa-3x mb-3 text-warning"></i>
                                <h3 class="fs-4 fw-bold">safety incidences</h3>
                                <p class="fs-6">Ensure adherence to regulations with automated compliance checks.</p>
                            </div>
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
