{% extends 'dashbord/master.html' %}
{% block content %}
    {% load static %}
    {% load django_bootstrap5 %}
                    <div class="card card-flush h-xl-100" style="margin-top:-10px;">
                        <!--begin::Header-->
                        <div class="card-header pt-5">
                            <!--begin::Title-->
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-black">Dashboards</span>
                            </h3>
                            <!--end::Title-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-6">
                            <section class="features row justify-content-center gap-4 mt-5">
                                <div class="row">
                                    <div class="col-md-6 mb-6">
                                         <!-- Real Time Anomaly Detection -->
                                        <a href="{% url 'realtime:anomaly_detection' %}" class="text-decoration-none col-lg-4 col-md-6 col-sm-12">
                                            <div class="feature card bg-light text-dark border-0 p-4">
                                                <i class="fas fa-shield-alt fa-3x mb-3 text-center h1  gradient-text text-primary" style="font-size: 30px"></i>
                                                <h3 class="fs-4 fw-bold text-center" style="font-size: 30px">Real Time Anomaly Detection</h3>
                                                <p class="fs-6 text-center">Stay ahead of potential risks with our intelligent alert system.</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                          <!-- Predictive Maintenance -->
                                        <a href="{% url 'realtime:predictive_maintenance' %}" class="text-decoration-none col-lg-4 col-md-6 col-sm-12">
                                            <div class="feature card bg-light text-dark border-0 p-4">
                                                <i class="fas fa-tools fa-3x mb-3  gradient-text text-center text-primary" style="font-size: 30px"></i>
                                                <h3 class="fs-4 fw-bold text-center" style="font-size: 30px">Predictive Maintenance</h3>
                                                <p class="fs-6 text-center">Leverage machine learning to forecast equipment failures and prevent downtime.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-6">
                                        <!-- Compliance Management -->
                                        <a href="{% url 'dashboard' %}" class="text-decoration-none col-lg-4 col-md-6 col-sm-12">
                                            <div class="feature card bg-light text-dark border-0 p-4">
                                                <i class="fas fa-rocket gradient-text text-center fa-3x mb-3 text-primary" style="font-size: 30px"></i>
                                                <h3 class="fs-4 fw-bold text-center" style="font-size: 30px">Compliance Management</h3>
                                                <p class="fs-6 text-center">Ensure adherence to regulations with automated compliance checks.</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Safety Incidences -->
                                        <a href="{% url 'dashboard' %}" class="text-decoration-none col-lg-4 col-md-6 col-sm-12">
                                            <div class="feature card bg-light text-dark border-0 p-4">
                                                <i class="fas fa-clipboard-check text-center fa-3x mb-3 text-primary" style="font-size: 30px"></i>
                                                <h3 class="fs-4 fw-bold text-center" style="font-size: 30px">Safety Incidences</h3>
                                                <p class="fs-6 text-center">Ensure adherence to regulations with automated compliance checks.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
    <!-- end::Content -->
{% endblock %}
