{% extends 'dashbord/master.html' %}
{% block content %}
    {% load static %}
    {% load django_bootstrap5 %}

    <!-- begin::Main -->
    <div class="app-main flex-column bg-light flex-row-fluid" id="kt_app_main">
        <!-- begin::Content wrapper -->
        <div class="d-flex flex-column flex-column-fluid">
            <!-- begin::Toolbar -->
            <div id="kt_app_toolbar" class="app-toolbar pt-5">
                <!-- begin::Toolbar container -->
                <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
                    <!-- begin::Toolbar wrapper -->
                    <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                        <!-- begin::Page title -->
                        <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                            <!-- begin::Title -->
                            <h1 class="page-heading d-flex flex-column bg-warning justify-content-center text-dark fw-bolder fs-1 lh-0">Equipment Prediction Maintenance</h1>
                            <!-- end::Title -->
                        </div>
                        <!-- end::Page title -->
                    </div>
                    <!-- end::Toolbar wrapper -->
                </div>
                <!-- end::Toolbar container -->
            </div>
            <!-- end::Toolbar -->
            <!-- begin::Content -->
            <div id="kt_app_content" class="app-content flex-column-fluid">
                <!-- begin::Content container -->
                <div id="kt_app_content_container" class="app-container container-fluid">
                    <!-- begin::Row -->
                    <div class="row gx-5 gx-xl-10 justify-content-center">
                        <!-- begin::Col -->
                        <div class="col-xxl-6 mb-5 mb-xl-10">
                            <div class="card card-flush bg-light p-5">
                                <!-- begin::Header -->
                                <div class="card-header">
                                    <!-- begin::Toolbar -->
                                    <div class="card-toolbar">
                                        <!-- Upload Form -->
                                        <div class="form-card bg-white p-4">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    {% bootstrap_form form %}
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fileInput" class="form-label">Choose File</label>
                                                    <input class="form-control" type="file" id="fileInput" name="file">
                                                </div>
                                                <button type="submit" class="btn btn-warning">Upload File and Detect Anomalies</button>
                                            </form>
                                        </div>
                                        <!-- Predictive Maintenance Results -->
                                        {% if maintenance_results %}
                                            <hr>
                                            <div class="form-card bg-white p-4">
                                                <h2 class="mb-4">Predictive Maintenance Results</h2>
                                                <ul class="list-group list-group-flush">
                                                    {% for result in maintenance_results %}
                                                        <li class="list-group-item">{{ result.equipment_name }} - {{ result.maintenance_description }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                
                                    </div>
                                    <!-- end::Toolbar -->
                                </div>
                                <!-- end::Header -->
                            </div>
                        </div>
                        <!-- end::Col -->
                    </div>
                    <!-- end::Row -->
                </div>
                <!-- end::Content container -->
            </div>
            <!-- end::Content -->
        </div>
        <!-- end::Content wrapper -->
    <!-- end::Main -->
{% endblock %}
